body {
    background-size: cover;
    background-image: url(./resources/background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 108rem;
}
#logo {
    display: block;
    margin: auto;
}
h1 {
    font-family: VT323;
    font-size: 5rem;
    color: darkblue;
    text-shadow: 3px 3px lightcyan;
    text-align: center;
}
h2, h3 {
    font-family: VT323;
    font-size: 5rem;
    color: darkblue;
    text-shadow: 3px 3px lightcyan;
    text-align: center;
}
#difficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#easy, #medium, #hard {
    width: 16%;

}

footer {
    display: flex;
    justify-content: center;
    
}
#starover {
    font-family: VT323;
    font-weight: normal;
    font-size: 300%;
    text-align: center;
    color: darkblue;
    border: 2px solid #000000;
    opacity: 0.8;
}